@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

$primary-color: #a5b68d;
$secondary-color: #fff;
$accent-color: #da8359;
$accent-color-2: #fff6ca;
$text-color: #232323;
$nav-bar-transition: 0.4s;

*::-moz-selection {
  background-color: $accent-color;
}

*::selection {
  background-color: $accent-color;
}

* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $accent-color-2;
}

.transition-overlay {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  opacity: 0;
  z-index: 100;
  font-size: clamp(30px, 50px, 4vw);
  color: #fff;
  pointer-events: none;
}

.container {
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $secondary-color;

  &.top-level {
    height: 100vh;
    max-width: none;
    padding: 0;
  }

  @media screen and (max-width: 435px) {
    &.top-level {
      height: 100dvh;
    }
  }
}

.section-title {
  width: 100%;
  font-size: clamp(40px, 100px, 9.5vw);
  color: $text-color;
  font-weight: bold;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: clamp(26px, 34px, 3vw);
  margin-bottom: 0.3em;
  text-transform: capitalize;
  border-bottom: 3px solid $text-color;
}

.section-text,
p {
  font-size: clamp(15px, 20px, 2vw);
  margin-top: 0.5em 0;
}

.navbar {
  width: 100%;
  min-height: 100px;
  position: relative;
  background-color: $primary-color;
  z-index: 2;

  .container {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .overlay {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(#8a8a8a, 0.5);
    transition: $nav-bar-transition;
    pointer-events: none;
  }

  .hamburger-react {
    display: none;
    z-index: 5;
  }

  ol {
    height: 100%;
    list-style-type: none;
    transition: $nav-bar-transition;
    z-index: 4;

    .container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      border: 0;
    }

    * {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  li {
    height: 100%;
    position: relative;
    padding: 25px;
    font-size: clamp(22px, 25px, 2vw);
    transition: 0.2s;
    color: $secondary-color;
    opacity: 0.75;
    transition: 0.2s;
    cursor: pointer;

    &.active {
      opacity: 1 !important;
    }

    .underline {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 4.5px;
      background-color: $accent-color;
      border-top-left-radius: 4.5px;
      border-top-right-radius: 4.5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-size: clamp(26px, 30px, 2.5vw);
  line-height: 0;
  color: $secondary-color;

  img {
    width: 1.1em;
    margin-bottom: -0.1em;
    aspect-ratio: 1 / 1;
  }
}

.section {
  width: 100%;
  background-color: transparent;
}

.home {
  flex-grow: 1;

  @media screen and (max-width: 435px) {
    //navbar height + footer height
    height: calc(100dvh - 180px);
    flex-grow: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .slogan {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 6.8vw;
    white-space: nowrap;
  }

  .threeD-model {
    height: 100%;
    width: 50%;
    pointer-events: none;

    canvas {
      height: 100% !important;
    }
  }
}

.recipes {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2vw;
    padding-top: clamp(20px, 40px, 4vw);
    padding-bottom: clamp(20px, 40px, 4vw);
    min-height: 77.5vh;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    justify-content: space-between;
    -moz-column-gap: 2%;
    column-gap: 2%;
    row-gap: 2vw;
  }

  input,
  select {
    border: none;
    font-size: inherit;
    padding: 1em;
    border-radius: 5px;
  }

  input:focus,
  select:focus {
    outline: none;
  }

  input {
    border-right: 4px solid $accent-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  &__not-found {
    width: 200%;
    display: grid;
    place-items: center;
    text-align: center;
    color: $text-color;
    border: none;
  }
}

.recipe {
  &__container {
    width: 100%;
    min-width: 400px;
    position: relative;
    height: 50vh;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  &__image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
  }

  &__title {
    width: 100%;
    padding: 20px;
    background: rgba(#6d6d6d, 0.5);
    color: $secondary-color;
    z-index: 1;
    transition: 0.4s;

    .name {
      font-size: clamp(25px, 40px, 4vw);
    }

    .price {
      display: inline-block;
      width: 100%;
      text-align: right;
      font-size: clamp(22px, 30px, 3vw);
      opacity: 0.85;
    }
  }

  &__container.--hovered &__title {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &__container.--hovered &__image-container {
    transform: scale(1.1);
  }
}

.list-style-1 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  font-size: clamp(16px, 18px, 1.5vw);
  color: $text-color;
}

.about-us {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;

  .section-title {
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    border-bottom: 5px solid $text-color;
  }

  .container {
    padding-top: clamp(20px, 40px, 4vw);
    padding-bottom: clamp(20px, 40px, 4vw);
    row-gap: clamp(25px, 50px, 6vw);
    color: $text-color;
  }

  &__item {
    padding: 15px;
    background-color: rgba($primary-color, 0.4);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__grid {
    display: grid;
    gap: 20px;
  }

  .financial-analysis__grid {
    grid-template-columns: 1fr 1fr;
  }

  .business-plan__grid {
    grid-template-columns: 1fr 1fr;
  }

  .list-style-1__point {
    margin-bottom: 10px;
    line-height: 1.2;
    color: rgba($text-color, 0.8);
  }

  .gantt-chart {
    color: $text-color;
    border-radius: 8px;

    a {
      opacity: 0.7;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      cursor: pointer;

      * {
        transition: $nav-bar-transition;
      }

      th,
      td {
        border: 1px solid $primary-color;
        padding: 12px;
        text-align: center;
      }

      th {
        background-color: $primary-color;
        color: $secondary-color;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: $accent-color-2;
      }

      tr:nth-child(odd) {
        background-color: $secondary-color;
      }

      tr:hover {
        background-color: $accent-color;
        color: $secondary-color;
      }

      td {
        color: $text-color;
      }
    }

    .table-wrapper {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 10px;
    }
  }
}

.swot {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
}

.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .home {
    font-size: clamp(35px, 40px, 7vw);
    text-decoration: underline !important;
  }
}

.recipe-page {
  .container {
    padding-top: clamp(20px, 40px, 4vw);
    padding-bottom: clamp(20px, 40px, 4vw);
    row-gap: clamp(25px, 50px, 6vw);
    color: $text-color;
  }

  .section-title {
    position: relative;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: 5px solid $text-color;
  }

  &__content {
    -moz-column-gap: 2vw;
    column-gap: 2vw;
    display: flex;
    flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    &-text {
      width: 50%;
    }
  }

  &__image-container {
    flex-grow: 1;
    border: 5px solid $accent-color;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  &__subtitle {
    margin-top: 0.4em;

    &:first-child {
      margin-top: 0;
    }
  }

  &__subtitle.price {
    text-align: right;
    border-bottom: none;
  }

  &__exit-btn {
    display: grid;
    place-items: center;
    position: relative;
    width: 3em;
    z-index: 1;
    aspect-ratio: 1 / 1;
    background-color: rgba($text-color, 0.5);
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba($text-color, 1);
    }

    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    span {
      display: inline-block;
      position: absolute;
      width: 70%;
      height: 3px;
      border-radius: 5px;
      background-color: $secondary-color;
    }

    span:first-child {
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }
}

.footer {
  width: 100%;
  height: 80px;
  padding: 1em 0;
  flex-shrink: 0;
  background-color: $primary-color;
  font-size: clamp(22px, 25px, 2vw);

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Adaptive
@media (min-width: 1540px) {
  .home {
    .container {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    .slogan {
      width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      font-size: clamp(40px, 120px, 12vw);
      flex-grow: 1;
    }

    .threeD-model {
      height: 1000px;
      width: 100%;

      canvas {
        height: 1000px !important;
      }
    }
  }
}

@media (max-width: 1025px) {
  .navbar {
    .hamburger-react {
      display: block;
    }

    ol {
      width: 100%;
      height: auto;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-150%);
      opacity: 0;

      .container {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 50px;
        padding: 30px 4em 30px 4em !important;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        background-color: $accent-color;
      }

      // * {
      //   height: auto;
      // }
    }
  }

  .navbar.--active {
    .overlay {
      opacity: 1;
    }

    ol {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .recipes {
    .recipe-list {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__not-found {
      width: 100%;
    }
  }

  .recipe {
    &__container {
      width: 100%;
      min-width: none;
      max-width: none;
    }
  }
}

@media (max-width: 769px) {
  .recipe-page {
    &__content {
      flex-direction: column;
      row-gap: 5vh;

      * {
        width: 100%;
      }
    }

    &__image-container {
      height: 70vw;
    }
  }

  .recipe {
    &__container {
      width: 100%;
      min-width: 0;
    }

    &__title {
      .price {
        text-align: start;
      }
    }
  }

  .home {
    .container {
      flex-direction: column-reverse;

      .threeD-model {
        height: 500px;
        width: 100%;
      }

      .slogan {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        font-size: clamp(40px, 60px, 12vw);
      }
    }
  }

  .about-us {
    &__grid {
      grid-template-columns: 1fr !important;
    }
  }
}

@media (max-width: 435px) {
  .recipes {
    input {
      width: 100%;
      border-right: none;
      border-bottom: 4px solid $accent-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    select {
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
